*{
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0,0,33);
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background-color: rgb(18,18,62);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 1.4375em;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: blueviolet;
    font-size: 1.06rem;
}
main hr{
    border:0;
    background: #9c97f1;
    height: 0.0625em;
    margin: 3.75em 5.3125em;
    position: relative;
}
.left{
    font-size: 1.75rem;
    color: white;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8.125em 0;
}
.firstSection > div{
    width: 30%;
}
.leftSection{
    font-size: 2.4rem;
    
}
.leftSection .btn{
    padding:0.75em;
    background-color: #5d61db;
    color: white;
    border: 0.125em solid white;
    border-radius: 0.375em;
    font-size: 1.25em;
    cursor: pointer;
}
.leftSection .btn a{
    text-decoration: none;
    color: white;
}
.rightSection img{
    width: 100%;
    position: relative;
    top: -4.375em;
    
}
.purple{
    color: blueviolet;
}
.purple2{
    color: blueviolet;
    font-weight: bolder;
}
.red{
    color: red;
    font-weight: 1000;
    font-size: 3.2rem;
}
.white{
    color: white;
}
#element{
    
}
.secondSection{
    max-width: 80vw;
    margin:auto;
    height: 80vh;
    margin-bottom: 10%;
}
.secondSection h1{
    font-size: 2rem;;
}
.secondSection .box{
    background: rgb(0,0,33);;
    width: 80vw;
    height: 0.125em;
    margin: 3.5em 0;
    display: flex;
}
.secondSection .vertical{
    height: 3.75em;
    width: 0.0625em;
    background-color: rgb(0,0,33);
    position: relative;
    margin: auto;
}
.thirdSection{
    max-width: 80vw;
    margin:auto;
    height: 80vh;
    margin-bottom: 120%;
}
.thirdSection h1{
    font-size: 2rem;
}
.fourthSection{
    max-width: 80vw;
    margin:auto;
    height: 80vh;
    margin-bottom: 20%;
}
.fourthSection h1{
    font-size: 2rem;;
}
.left-image{
    width: 2.1875em;
    position: relative;
    top: 0.625em;
}
.image-top{
    width: 2.1875em;
    position: relative;
    top: -2.5em;
    left: -1.0625em;
}
.certi{
    width: 21.875em;
    position: relative;
    left: 50.5em;
    top: -14.0625em;
}
.vertical-title{
    position: relative;
    top: 1.25em;
    width: 18.75em;
    font-weight: 900;
    color: #9c97f1;
    font-size: 1em;
}
.vertical-desc{
    position: relative;
    top: 2.8125em;
    width: 15.625em;
    color: gray;
    font-size: 0.875em;
}
.vertical-date{
    position: relative;
    top: 1.25em;
    width: 18.75em;
    font-size: 0.9375em;
}
.vertical-position{
    font-style: italic;
    position: relative;
    top: 1.25em;
    width: 18.75em;
    font-size: 0.9375em;
    color: rgb(28, 164, 213);
}
.published-where{
    font-style: italic;
    position: relative;
    width: 62.5em;
    font-size: 0.9375em;
    color: rgb(28, 164, 213);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 1.25em;
    margin-top: 2%;
    }
.grid-container-2 {
    display: grid;
    grid-template-columns: 46.25em;
    grid-gap: 1.25em;
    margin-top: 2%;
    margin-left: 25%;
    }

.card {
    background-color: #fff;
    border-radius: 0.3125em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    padding: 1.25em;
    }

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.625em;
    }

.date {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 0.625em;
    }

.thirdSection ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-top: 5%;
    }
.fourthSection ul {
        margin: 0;
        padding: 0;
        list-style-type: disc;
        margin-top:2%;
        }
.fourthSection ul li{
    margin-right: 30em;
    padding: 0;
    list-style-type: disc;
    }
ul li {
    margin-bottom: 0.3125em;
    }
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (change this value if needed) */
    height: 0;
    overflow: hidden;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.thirdSection li{
    color: gray;
}
.fourthSection li{
    color: gray;
}
.space{
    margin: 2.5em 2.5em;
}
.bold{
    font-style:italic;
    
}